<link rel="stylesheet" href="app/Template/style.css">
<section>
    <article>
        <header>
            <h2>{{titulo}}</h2>
        </header>
        <p>{{conteudo}}</p>

        <br>
        <hr>
        <br>

        <form method="post" action="http://localhost/php_crud_mvc/?pagina=post&metodo=addComent">
            <span>Nome:</span><br>
            <input type="text" name="nome"><br><br>

            <span>Comentário:</span><br>
            <textarea name="msg"></textarea><br><br>

            <input type="hidden" name="id" value="{{id}}">

            <input type="submit" value="enviar">
        </form>
        <br>
        <br>

        {% if comentarios == false %}
            <p>Nenhum comentário nesta postagem</p>
        {% else %}
            {% for comentario in comentarios %}
                <h3>{{comentario.nome}}</h3>
                <p>{{comentario.mensagem}}</p>
                <br>
            {% endfor %}
        {% endif %}
    </article>
</section>